loglevel: INFO
reddit:
    username:
    password:
    client_id:
    client_secret:
nationalities: [FIN, SWE]
min_points: 5
min_goals: 3
template: template.html
output: nhl.html
hilights_age_limit: 18
hilight_keywords: [
    shootout,
    spectacular,
    slap,
    blast
]
schedule:
    days: 21
    timezone: Europe/Helsinki
    dt_format: '%d.%m. %H:%M'
    hours: [6, 24]
